/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--BGColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--headerColor);
  box-shadow: 2px 3px 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(26, 26, 32);
}

body{
  background-color: white;
}

.trans-slow{
  transition: all;
  animation-duration: 1000ms;
  animation: ease-in-out;
}